absl-py==2.1.0
aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
appier==1.31.2
apyori==1.1.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.1
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.6.2
Bootstrap-Flask==2.2.0
Brotli==1.1.0
bs4==0.0.1
by==0.0.4
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
cmudict==1.0.16
colorama==0.4.6
comm==0.2.1
comtypes==1.4.5
contourpy==1.0.7
cssselect2==0.7.0
cycler==0.11.0
debugpy==1.8.1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.8.0
dnspython==2.4.2
docopt==0.6.2
dominate==2.8.0
email-validator==2.0.0.post2
exceptiongroup==1.1.3
executing==2.0.1
fastjsonschema==2.19.1
Flask==2.3.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
flatbuffers==24.3.25
fonttools==4.39.4
fqdn==1.5.1
frozenlist==1.4.0
gast==0.5.4
google-pasta==0.2.0
graphviz==0.20.3
greenlet==2.0.2
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.2
httpx==0.25.1
idna==3.4
imageio==2.34.1
imageio-ffmpeg==0.4.9
img2pdf==0.5.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
ipykernel==6.29.2
ipython==8.12.3
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.17
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
keras==3.1.1
kiwisolver==1.4.4
lazy_loader==0.4
Levenshtein==0.23.0
libclang==18.1.1
librosa==0.10.1
llvmlite==0.42.0
lxml==4.9.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
moviepy==1.0.3
msgpack==1.0.8
multidict==6.0.4
namex==0.0.7
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.3
notebook==7.1.0
notebook_shim==0.2.4
numba==0.59.1
numpy==1.24.3
openai==1.37.1
opt-einsum==3.3.0
optree==0.11.0
outcome==1.2.0
overrides==7.7.0
packaging==23.1
pandas==2.0.2
pandocfilters==1.5.1
parso==0.8.3
pdf2image==1.17.0
pickleshare==0.7.5
pikepdf==8.15.0
pillow==10.3.0
pipreqs==0.5.0
platformdirs==4.2.0
pluggy==1.5.0
pooch==1.8.1
proglog==0.1.10
prometheus_client==0.20.0
prompt-toolkit==3.0.43
pronouncing==0.2.0
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
PyAudio==0.2.14
pycparser==2.21
pydantic==2.5.1
pydantic_core==2.14.3
pydub==0.25.1
pydyf==0.10.0
pygame==2.5.2
Pygments==2.17.2
PyJWT==2.8.0
pyparsing==3.0.9
pyphen==0.15.0
pypiwin32==223
PySocks==1.7.1
pytest==8.2.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
PythonTurtle==0.3.2
pyttsx3==2.90
pytz==2023.3
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.2
rapidfuzz==3.6.1
redis==4.6.0
referencing==0.33.0
reportlab==4.2.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
scikit-learn==1.4.0
scipy==1.11.4
selenium==4.11.2
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.7
SpeechRecognition==3.10.4
spotipy==2.23.0
SQLAlchemy==2.0.20
stack-data==0.6.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.0
threadpoolctl==3.2.0
tinycss2==1.3.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
trio==0.22.2
trio-websocket==0.10.3
twilio==8.5.0
twilio-api==0.1.1
types-python-dateutil==2.8.19.20240106
typing_extensions==4.7.1
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.4
visitor==0.1.3
Wand==0.6.13
wcwidth==0.2.13
weasyprint==62.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==2.3.7
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.0.1
yarg==0.1.9
yarl==1.9.2
zipp==3.17.0
zopfli==0.2.3
